<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <footer class="text-light text-center py-4" style="background-color: #007BFF;">
    <div class="container">
      <div class="row text-center">
        <div class="lead">
          <p>&copy; 2023 Opulent Horizons. All rights reserved.</p>
        </div>
        <div class=" text-center ">
          <!-- Social Icons -->
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-facebook-f text-light"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-twitter text-light"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-instagram text-light"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-linkedin text-light"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>